@charset "UTF-8";

.carousel{
  position: relative;
  display: block;
  margin: 100px auto;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.carousel:after{
  content: "";
  clear: both;
  display: block;
}
.carousel__inner{
  width: 900px;
}
.carousel__item{
  /*position: absolute;*/
  width: 300px;
  height: 100px;
  float: left;
  display: block;
  background: blue;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.controller{
  clear: both;
}
.controller li{
  cursor: pointer;
}
